.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container:first-child {
    flex-shrink: 0;
}

main {
    flex: 1 0 auto;
}

.container:last-child {
    flex-shrink: 0;
    align-self: flex-end;
}
