.nav {
    background: var(--secondary-colour);
    height: var(--navbarheight);
    flex-grow: 1;
}

.list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 5px;
}

.list > li {
    flex-grow: 1;
}

/*Add rounded edge to beginning of first link*/
.list > li:first-of-type > .link {
    border-radius: 1rem 0 0 1rem;
}

/*Add rounded edge to end of last link*/
.list > li:last-of-type > .link {
    border-radius: 0 1rem 1rem 0;
}

.link {
    -webkit-tap-highlight-color: transparent;
}

.link:link, .link:visited {
    background-color: var(--primary-colour);
    border: none;
    color: white;
    padding: 1rem 1.5rem;
    width: 100%;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    cursor: pointer;
    display: block;
}

.link:hover, .link:active {
    background-color: var(--active);
}
