.nav {
    background: var(--secondary-colour);
    padding: 1rem;
}

.list {
    list-style-type: none;
    padding: 0;
}

a:link, a:visited {
    background-color: var(--primary-colour);
    border: none;
    color: white;
    padding: 15px 32px;
    width: 100%;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: block;
}

a:hover, a:active {
    background-color: var(--active);
}

@media (max-width: 600px) {
    .nav {
        flex-grow: 1;
    }
}
