* {
    box-sizing: border-box;
}

:root {
    --primary-colour: #383e56;
    --secondary-colour: #f69e7b;
    --active: deeppink;
    --navbarheight: 61px;
}

html, body, #root {
    height: 100%;
}
