.footer {
    background-color: var(--primary-colour);
    padding: 1rem;
    text-align: center;
    color: white;
}

.smaller {
    font-size: small;
}

.smaller > a {
    text-decoration: underline;
    color: white;
}
