@import url('https://fonts.googleapis.com/css?family=Cookie');

.footer {
    background-color: var(--primary-colour);
    padding: 1rem;
    text-align: center;
    color: white;
}

.title {
    font-family: 'Leckerli One', cursive;
}

.smaller {
    font-size: small;
}

.smaller > a {
    text-decoration: underline;
    color: white;
}

.bmcButton img {
    height: 34px;
    width: 35px;
    margin-bottom: 1px;
    box-shadow: none;
    border: none;
    vertical-align: middle;
}

.bmcButton {
    padding: 7px 15px 7px 10px;
    text-decoration: none;
    display: inline-flex;
    color: #ffffff;
    background-color: #79D6B5;
    border-radius: 5px;
    border: 1px solid transparent;
    letter-spacing: 0.6px;
    margin: 0 auto;
    font-family: 'Cookie', cursive;
}

.bmcButton:hover, .bmcButton:active, .bmcButton:focus {
    text-decoration: none;
    opacity: 0.85;
    color: #ffffff;
}

.bmcButton span {
    margin-left: 5px;
    font-size: 28px;
}
