* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-colour: #ff5641;
    --secondary-colour: #f37c45;
}

html, body, #root {
    height: 100%;
}
